Repository UntouchableOvotschsch/blog-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, eslint, npx stylelint

migrate git actions pipeline to ubuntu
  .github/workflows/main.yml
Due: none

split git-actions pipelines, add deploying reports path
  .github/workflows/main.yml
  package.json
  scripts/generate-visual-json-report.js
Due: none

delete move .loki job
  .github/workflows/main.yml
Due: none

add buildSelector with args, add featureFlags, fix Comment story
  src/app/App.tsx
  src/entities/Comment/ui/Comment/Comment.stories.tsx
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/user.ts
  src/shared/lib/features/featureFlagsHandler.ts
  src/shared/lib/features/index.ts
  src/shared/lib/store/buildSelector.ts
  src/shared/types/featureFlags.ts
Due: prettier, eslint

add remove feature script, add toggle feature, add snapshots
  .loki/reference/chrome_iphone7_entities_Comment_CommentItem_Light.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_Big_Tile_View.png
  .loki/reference/chrome_laptop_entities_Comment_CommentItem_Light.png
  .loki/reference/chrome_laptop_entities_Comment_CommentsList_Light.png
  .loki/reference/chrome_laptop_pages_ArticlesPage_Small_Tile.png
  scripts/remove-feature.ts
  src/shared/lib/features/toggleFeature.ts
Due: prettier, eslint

add jsonSettings, add snapshots
  .github/workflows/main.yml
  .loki/reference/chrome_iphone7_entities_Comment_CommentsList_Light.png
  .loki/reference/chrome_iphone7_features_ArticleComments_Light.png
  .loki/reference/chrome_laptop_entities_Article_ArticleList_Big_Tile_View.png
  .loki/reference/chrome_laptop_entities_Comment_CommentsList_Light.png
  .loki/reference/chrome_laptop_features_ArticleComments_Light.png
  .loki/reference/chrome_laptop_features_ArticleRecommendations_Normal.png
  .loki/reference/chrome_laptop_pages_ArticlesPage_Big_Tile.png
  json-server/db.json
  package.json
  src/app/App.tsx
  src/app/providers/RouterProvider/config/routeConfig.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/app/styles/index.scss
  src/entities/Comment/model/templates/comment.ts
  src/entities/Comment/ui/CommentsList/CommentsList.stories.tsx
  src/entities/User/api/userApi.ts
  src/entities/User/index.ts
  src/entities/User/model/selectors/getJsonSettings/index.ts
  src/entities/User/model/service/updateJsonSettings.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/jsonSettings.ts
  src/entities/User/model/types/user.ts
  src/features/ArticleRecommendationsList/ui/ArticleRecommendationsList/ArticleRecommendationsList.stories.tsx
  src/features/AuthByUsername/index.ts
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/shared/const/router.ts
  src/shared/lib/features/index.ts
  src/shared/lib/helpers/infinityToggle/infinityToggle.ts
  src/shared/lib/hooks/useTheme/useTheme.ts
  src/widgets/Navbar/ui/Navbar.tsx
Due: prettier, eslint, npx stylelint

add ToggleFeatureComponent, update remove-feature script
  json-server/db.json
  scripts/remove-feature.ts
  src/pages/ArticleDetailsPage/ui/ArticleDetailsPage/index.tsx
  src/shared/lib/features/ToggleFeatureComponent.tsx
Due: prettier, eslint

add redesigned navbar
  json-server/db.json
  src/entities/Notification/ui/Notification/NotificationItem.skeleton.tsx
  src/entities/Notification/ui/Notification/NotificationItem.tsx
  src/entities/Notification/ui/NotificationList/NotificationList.tsx
  src/features/AvatarDropdown/ui/AvatarDropdown.module.scss
  src/features/AvatarDropdown/ui/AvatarDropdown.tsx
  src/features/NotificationButton/ui/NotificationButton.module.scss
  src/features/NotificationButton/ui/NotificationButton.tsx
  src/shared/assets/icons/Redesigned/notification-icon.svg
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/AppLink/index.tsx
  src/shared/ui/Avatar/Avatar.module.scss
  src/shared/ui/Avatar/index.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/index.tsx
  src/shared/ui/Popups/index.ts
  src/shared/ui/Popups/styles/Popups.module.scss
  src/shared/ui/Popups/styles/consts.ts
  src/shared/ui/Popups/ui/Dropdown/Dropdown.module.scss
  src/shared/ui/Popups/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Popups/ui/Popover/Popover.tsx
  src/shared/ui/Popups/ui/Select/Select.module.scss
  src/shared/ui/Popups/ui/Select/index.tsx
  src/shared/ui/Skeleton/Skeleton.module.scss
  src/shared/ui/Skeleton/index.tsx
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/Text/index.tsx
  src/shared/ui/deprecated/Popups/ui/Dropdown/Dropdown.module.scss
  src/widgets/Sidebar/ui/LinkItem/index.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
Due: prettier, eslint, npx stylelint

Add StickyContentLayout, GridSwitcher, start redesign ArticlesPage
  .eslintrc.js
  src/entities/Article/ui/ArticleList/views/BigTileView/BigTileView.module.scss
  src/entities/Article/ui/ArticleList/views/BigTileView/index.tsx
  src/entities/Article/ui/BigTileItem/BigTileItem.module.scss
  src/features/ChangeViewType/ui/ChangeViewType.tsx
  src/features/ChangeViewType/ui/Deprecated/ChangeViewType.module.scss
  src/features/ChangeViewType/ui/Deprecated/ChangeViewType.stories.tsx
  src/features/ChangeViewType/ui/Deprecated/ChangeViewType.tsx
  src/features/SortSelector/ui/SortSelector.tsx
  src/pages/ArticlesPage/ui/ArticleFiltersContainer/index.tsx
  src/pages/ArticlesPage/ui/ArticleInfiniteList/ArticleInfiniteList.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.tsx
  src/pages/ArticlesPage/ui/ChangeViewContainer/index.tsx
  src/shared/assets/icons/Redesigned/burger-icon.svg
  src/shared/assets/icons/Redesigned/tile-icon.svg
  src/shared/layouts/StickyContentLayout/StickyContentLayout.module.scss
  src/shared/layouts/StickyContentLayout/index.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/index.tsx
  src/shared/ui/GridSwitcher/GridSwitcher.module.scss
  src/shared/ui/GridSwitcher/index.tsx
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/index.tsx
  src/shared/ui/Popups/index.ts
  src/shared/ui/Popups/ui/Select/Select.module.scss
  src/shared/ui/Popups/ui/Select/index.tsx
  src/widgets/ArticleFilters/index.ts
  src/widgets/ArticleFilters/ui/ArticleFilters.module.scss
  src/widgets/ArticleFilters/ui/ArticleFilters.tsx
Due: prettier, eslint, npx stylelint

Add redesigned ArticleFilters
  .eslintrc.js
  json-server/db.json
  src/features/ArticleTypeTabs/ui/ArticleTypeTabs.tsx
  src/features/SortSelector/ui/SortSelector.tsx
  src/shared/assets/icons/Redesigned/arrow-icon.svg
  src/shared/assets/icons/Redesigned/search-icon.svg
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/index.tsx
  src/shared/ui/Icon/index.tsx
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/index.tsx
  src/shared/ui/Popups/styles/Popups.module.scss
  src/shared/ui/Popups/ui/Dropdown/Dropdown.module.scss
  src/shared/ui/Popups/ui/Dropdown/Dropdown.tsx
  src/shared/ui/Popups/ui/Select/index.tsx
  src/shared/ui/Tabs/Tabs.module.scss
  src/shared/ui/Tabs/index.tsx
  src/widgets/ArticleFilters/ui/ArticleFilters.tsx
  src/widgets/Sidebar/ui/Sidebar/index.tsx
Due: prettier, eslint, npx stylelint

Add redesigned ProfileCard
  .eslintrc.js
  extractedTranslations/en/profile.json
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  src/entities/Country/ui/CountrySelect/index.tsx
  src/entities/Currency/ui/CurrencySelect/index.tsx
  src/entities/Profile/ui/ProfileCard/Deprecated/ProfileCard.module.scss
  src/entities/Profile/ui/ProfileCard/Deprecated/ProfileCard.stories.tsx
  src/entities/Profile/ui/ProfileCard/Deprecated/index.tsx
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/index.tsx
  src/shared/ui/Card/Card.module.scss
  src/shared/ui/Card/index.tsx
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/index.tsx
  src/shared/ui/Popups/styles/Popups.module.scss
  src/shared/ui/Popups/ui/Select/Select.module.scss
  src/shared/ui/Popups/ui/Select/index.tsx
  src/shared/ui/Stack/Flex/Flex.module.scss
  src/shared/ui/Stack/Flex/index.tsx
  src/widgets/ArticleFilters/ui/ArticleFilters.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
Due: prettier, eslint, npx stylelint

Add redesigned BigTileItem, skeleton
  src/entities/Article/ui/ArticleList/views/BigTileView/BigTileView.module.scss
  src/entities/Article/ui/ArticleList/views/SmallTileView/SmallTileView.module.scss
  src/entities/Article/ui/ArticleList/views/SmallTileView/index.tsx
  src/entities/Article/ui/BigTileItem/BigTileItem.module.scss
  src/entities/Article/ui/BigTileItem/BigTileItem.skeleton.tsx
  src/entities/Article/ui/BigTileItem/Deprecated/BigTileItem.Deprecated.module.scss
  src/entities/Article/ui/BigTileItem/Deprecated/BigTileItem.Deprecated.skeleton.tsx
  src/entities/Article/ui/BigTileItem/Deprecated/index.tsx
  src/entities/Article/ui/BigTileItem/index.tsx
  src/entities/Notification/ui/Notification/NotificationItem.skeleton.tsx
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/shared/assets/icons/Redesigned/eye-icon.svg
  src/shared/layouts/StickyContentLayout/StickyContentLayout.module.scss
  src/shared/ui/AppLogo/AppLogo.module.scss
  src/shared/ui/AppLogo/index.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/GridSwitcher/index.tsx
  src/shared/ui/Skeleton/Skeleton.module.scss
  src/shared/ui/Skeleton/index.tsx
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/index.tsx
Due: prettier, eslint, npx stylelint

Add redesigned SmallTileItem, skeleton
  json-server/db.json
  src/entities/Article/ui/ArticleList/views/SmallTileView/SmallTileView.module.scss
  src/entities/Article/ui/ArticleList/views/SmallTileView/index.tsx
  src/entities/Article/ui/SmallTileItem/Deprecated/SmallTileItem.Deprecated.module.scss
  src/entities/Article/ui/SmallTileItem/Deprecated/SmallTileItem.Deprecated.skeleton.tsx
  src/entities/Article/ui/SmallTileItem/Deprecated/index.tsx
  src/entities/Article/ui/SmallTileItem/SmallTileItem.module.scss
  src/entities/Article/ui/SmallTileItem/SmallTileItem.skeleton.tsx
  src/entities/Article/ui/SmallTileItem/index.tsx
  src/shared/ui/Card/Card.module.scss
Due: prettier, eslint, npx stylelint

Add SettingsPage, design switcher
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  json-server/db.json
  src/app/providers/RouterProvider/config/routeConfig.tsx
  src/entities/Article/ui/SmallTileItem/index.tsx
  src/entities/User/api/userApi.ts
  src/entities/User/index.ts
  src/entities/User/model/service/updateFeatures.ts
  src/features/AvatarDropdown/ui/AvatarDropdown.tsx
  src/pages/SettingsPage/index.ts
  src/pages/SettingsPage/ui/SettingsPage/SettingsPage.async.ts
  src/pages/SettingsPage/ui/SettingsPage/index.tsx
  src/shared/const/router.ts
  src/shared/lib/features/featureFlagsHandler.ts
Due: prettier, eslint

SettingsPage fixes
  src/app/providers/RouterProvider/config/routeConfig.tsx
  src/pages/SettingsPage/ui/SettingsPage/index.tsx
Due: prettier, eslint

SettingsPage fixes
  src/pages/SettingsPage/ui/SettingsPage/index.tsx
Due: prettier, eslint

Add redesigned Modal & Drawer
  src/app/App.tsx
  src/entities/Profile/ui/ProfileCard/index.tsx
  src/features/AuthByUsername/ui/LoginModal/index.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardFooter/index.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardHeader/index.tsx
  src/features/NotificationButton/ui/NotificationButton.tsx
  src/features/SortSelector/ui/SortSelector.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/index.tsx
  src/shared/ui/Drawer/Drawer.stories.tsx
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/index.tsx
  src/shared/ui/Overlay/Overlay.module.scss
  src/shared/ui/Overlay/index.tsx
  src/shared/ui/Popups/ui/Select/index.tsx
  src/shared/ui/Portal/index.tsx
  src/shared/ui/deprecated/Drawer/Drawer.module.scss
  src/shared/ui/deprecated/Drawer/index.tsx
  src/widgets/ArticleFilters/ui/ArticleFilters.tsx
Due: prettier, eslint, npx stylelint

Add ForceUpdateProvider & some fixes
  .eslintrc.js
  json-server/db.json
  src/app/App.tsx
  src/app/lib/useLoginByLocalStorageData/index.tsx
  src/entities/Article/ui/ArticleDetails/index.tsx
  src/entities/Article/ui/ArticleList/views/SmallTileView/index.tsx
  src/entities/Rating/ui/RatingCard.tsx
  src/features/AvatarDropdown/ui/AvatarDropdown.tsx
  src/features/ChangeViewType/ui/ChangeViewType.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardFooter/index.tsx
  src/features/EditableProfileCard/ui/EditableProfileCardHeader/index.tsx
  src/features/ThemeSwitcher/ui/Deprecated/ThemeSwitcher.tsx
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/index.tsx
  src/shared/const/theme.tsx
  src/shared/render/ForceUpdateProvider.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/index.tsx
  src/shared/ui/GridSwitcher/index.tsx
Due: prettier, eslint, npx stylelint

Add AppLoaderLayout, fix ThemeProvider
  src/app/App.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/app/styles/index.scss
  src/entities/User/model/service/updateFeatures.ts
  src/entities/User/model/slice/userSlice.ts
  src/features/ThemeSwitcher/ui/Deprecated/ThemeSwitcher.tsx
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/pages/SettingsPage/ui/SettingsPage/index.tsx
  src/shared/const/localStorage.ts
  src/shared/layouts/AppLoaderLayout/index.tsx
  src/shared/lib/features/featureFlagsHandler.ts
  src/shared/types/featureFlags.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
Due: prettier, eslint, npx stylelint

Features Flags fixes
  json-server/db.json
  src/entities/User/model/slice/userSlice.ts
  src/features/AvatarDropdown/ui/AvatarDropdown.tsx
  src/shared/lib/features/featureFlagsHandler.ts
Due: prettier, eslint

Add ScrollToolbar
  json-server/db.json
  src/app/App.tsx
  src/app/lib/useAppToolbar/index.tsx
  src/app/types/global.d.ts
  src/features/ScrollToTopBtn/index.ts
  src/features/ScrollToTopBtn/ui/ScrollToTopBtn/index.tsx
  src/shared/assets/icons/Redesigned/circle-arrow.svg
  src/shared/const/router.ts
  src/shared/layouts/MainLayout/MainLayout.module.scss
  src/shared/lib/hooks/useAppRoute/index.ts
  src/shared/lib/hooks/useScrollPosition/index.ts
  src/widgets/ScrollToolbar/index.ts
  src/widgets/ScrollToolbar/ui/ScrollToolbar/ScrollToolbar.module.scss
  src/widgets/ScrollToolbar/ui/ScrollToolbar/index.tsx
Due: prettier, eslint, npx stylelint

Add hoc withTheme, add FeatureFlags decorator for storybook, fix shared/Select
  config/storybook/preview.js
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/providers/ThemeProvider/index.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/app/providers/ThemeProvider/ui/withTheme.tsx
  src/entities/Article/ui/ArticleDetails/ArticleDetails.stories.tsx
  src/shared/config/storybook/FeatureFlagsDecorator/index.tsx
  src/shared/const/theme.tsx
  src/shared/ui/Button/index.tsx
  src/shared/ui/Popups/ui/Select/index.tsx
  src/shared/ui/deprecated/Popups/ui/Select/index.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  npx stylelint: any of: *.scss
